
.thumbnail{
    width: 100%;
}
.video-author{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 0px;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px; 
    
}
.video-start{
    font-size: 12px;
    color:rgb(96, 96, 96) ;
    margin-top: 0;

}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
}
.video-info{

}
.profile-picture{
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
    @media (max-width: 750PX) {
        .video-grid{
            grid-template-columns: 1fr 1fr;
        }   
 }
 @media (min-max-width: 751PX) and  (max-width: 999PX) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
 @media (max-width: 1000PX) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
 }
    
.video-time{
    font-family: roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;

}